*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    display: flex;
    height: 30%;
    width: 23%;
    border: 2px solid black;
    margin: 10px 10px;
}

.image-container img {
    position: relative;
    width: 100%;
    height: 100%;
}
