*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #242B2E;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar_card {
    height: 120px;
    width: 36%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar_card__image {
    height: 120px;
    width: 120px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    position: absolute;
}

.avatar_card__image img {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 50%;
}

#avatar__1 {
    left: 20px;
    z-index: 999;
}

#avatar__2 {
    left: 122px;
    z-index: 800;
}

#avatar__3 {
    left: 223px;
    z-index: 100;
}

#avatar__4 {
    left: 325px;
    z-index: 1;
}