.container {
    height: 100%;
    width: 100%;
    text-transform: capitalize;
}

.container>h1 {
    text-align: center;
}

.card {
    position: absolute;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 200px 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

#first {
    top: 0;
}

#second {
    top: 80px;
    left: 70px;
}

#third {
    top: 150px;
    left: 140px;
}