@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.container-form {
    border: 1px solid palevioletred;
    height: 40%;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.container-form>h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2px;
}